/* Basic Reset */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  /* 10px = 16px * 62.5% */
  // also defines what 1 rem is equal to
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 1.5rem; */
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  box-sizing: border-box;
}
